<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<style type="text/css">body{padding-top:60px;padding-bottom:40px;}</style>

{{ BOOTSTRAP_MEDIA }}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-dist/jquery.min.js"><\/script>')</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script>window.jQuery(document).draggable || document.write('<script src="{{ STATIC_URL }}/js/libs/jquery-ui-dist/jquery-ui.min.js"><\/script>')</script>

{% block header %}{% endblock %}
</head>
<body>
	<script src="{{ STATIC_URL }}bootstrap/docs/assets/js/bootstrap.min.js"></script>
</body>
</html>